* {
	background-repeat: no-repeat;
}
body {
	margin: 0;
	background-color: rgba(60,80,112,1);
	background-image: 
		radial-gradient(100% 100%, rgba(255,255,255,.7) 0%, transparent 50%);
	background-size: 
		700px 525px;
	background-position: 
		50% calc(50% + 20px);
	text-align: center;
	padding: 12px;
	overflow: hidden;
}
body * {
	font-family: sans-serif;
}
a {
	position: absolute;
	left: 16px;
	text-decoration: none;
	color: rgba(255,255,255,.7);
	text-transform: uppercase;
	background-color: rgba(0,0,0,.2);
	padding: 6px;
	transition: background-color .6s, color .6s;
}
a:hover {
	color: #fff;
	background-color: rgba(0,0,0,.5);
}
input {
	border: 0;
	padding: 8px;
	margin-top: 8px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
	transition: background-color .6s, color .6s;
}
input[type="submit"]:hover {
	cursor: pointer;
	background-color: #666;
	color: #ddd;
}
#game {
	position: absolute;
	top: calc(50% - 242.5px);
	left: 0;
	width: 100vw;
	height: 525px;
	overflow: hidden;
	background-image: 
		linear-gradient(black, black), 
		linear-gradient(black, black), 
		linear-gradient(black, black), 
		linear-gradient(brown, brown), 
		linear-gradient(brown, brown), 
		radial-gradient(circle, transparent 45%, brown 46%, brown 54%, transparent 55%);
	background-size: 
		30px 400px, 
		100px 30px, 
		300px 30px, 
		5px 60px, 
		15px 20px, 
		30px 30px;
	background-position: 
		calc(50% - 100px) calc(50% - 10px), 
		calc(50% - 100px) calc(50% + 190px), 
		50% calc(50% - 170px), 
		calc(50% + 90px) calc(50% - 130px), 
		calc(50% + 90px) calc(50% - 99px), 
		calc(50% + 89px) calc(50% - 80px);
}
#game:before {
	color: #fff;
	content: attr(data-acertos);
	position: absolute;
	top: 0;
	left: 50%;
	font-size: 1.5em;
}
#game:after {
	color: #fff;
	content: "Erros: " attr(data-erros);
	position: absolute;
	bottom: 0;
	left: calc(50% - 4em);
	font-size: 1.5em;
}
#game.perdeu:before {
	content: attr(data-palavra);
}
#game > div, #game > div:before, #game > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
#game[class] > div:nth-of-type(1):before {
	position: absolute;
	top: calc(50% - 100px);
	z-index: -200;
	color: rgba(255,255,255,.5);
	font-size: 10em;
}
#game.perdeu > div:nth-of-type(1):before {
	content: "PERDEU";
}
#game.venceu > div:nth-of-type(1):before {
	content: "VENCEU";
}
#game > div:nth-of-type(2) { /* Cabeça */
	background-image: 
		radial-gradient(circle, darksalmon 60%, transparent 61%);
	background-size: 
		60px 60px;
	background-position: 
		calc(50% + 100px) calc(50% - 95px);
}
#game.venceu > div:nth-of-type(2) { /* Cabeça [VENCEU] */
	background-image: 
		radial-gradient(circle, darksalmon 60%, transparent 61%);
	background-size: 
		60px 60px;
	background-position: 
		calc(50% + 86px) calc(50% - 50px);
}
#game > div:nth-of-type(2):before { /* Pescoço */
	transform: rotate(-60deg);
	background-image: 
		linear-gradient(transparent 39%, darksalmon 41%, darksalmon 59%, transparent 61%);
	background-size: 
		25px 60px;
	background-position: 
		calc(50% + 110px) calc(50% + 40px);
	z-index: -10;
}
#game.venceu > div:nth-of-type(2):before { /* Pescoço [VENCEU] */
	transform: rotate(90deg);
	background-position: 
		calc(50% - 25px) calc(50% - 85px);
}
#game > div:nth-of-type(2):after { /* Olhos, boca e cabelo */
	position: absolute;
    left: calc(50% + 67px);
    top: calc(50% - 128px);
    width: 60px;
    height: 60px;
    background-image: 
		linear-gradient(45deg, transparent 41%, black 42%, black 58%, transparent 59%), 
		linear-gradient(-45deg, transparent 38%, black 39%, black 58%, transparent 59%), 
		linear-gradient(45deg, transparent 41%, black 42%, black 58%, transparent 59%), 
		linear-gradient(-45deg, transparent 38%, black 39%, black 58%, transparent 59%), 

		linear-gradient(transparent 38%, black 39%, black 58%, transparent 59%), 

    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	linear-gradient(darksalmon, darksalmon), 
    	radial-gradient(circle, black 60%, transparent 61%);
    background-size: 
		15px 15px, 
		15px 15px, 
		15px 15px, 
		15px 15px, 

		20px 15px, 

    	15px 36px,
    	36px 15px,
    	35px 35px, 
    	60px 60px;
    background-position: 
		calc(50% - 5px) calc(50% - 0px), 
		calc(50% - 5px) calc(50% - 0px), 
		calc(50% + 15px) calc(50% - 0px), 
		calc(50% + 15px) calc(50% - 0px), 

		calc(50% + 10px) calc(50% + 15px), 

    	calc(50% + 22px) calc(50% + 1px), 
    	calc(50% + 0px) calc(50% + 22px), 
    	calc(50% + 4px) calc(50% + 5px), 
    	calc(50% - 0px) calc(50% + 0px);
}
#game.venceu > div:nth-of-type(2):after { /* Olhos, boca e cabelo [VENCEU] */
    left: calc(50% + 54px);
    top: calc(50% - 83px);
    background-image: 
		radial-gradient(circle, black 60%, transparent 61%), 
		radial-gradient(circle, black 60%, transparent 61%), 

		radial-gradient(70% 70%, darksalmon 60%, transparent 61%), 
		radial-gradient(70% 70%, darksalmon 60%, transparent 61%), 
    	radial-gradient(circle, black 60%, transparent 61%),

    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	radial-gradient(60% 60%, darksalmon 60%, transparent 61%),
    	linear-gradient(darksalmon, darksalmon), 
    	radial-gradient(circle, black 60%, transparent 61%);
    background-size: 
		12px 12px, 
		12px 12px, 

		45px 30px, 
		40px 20px, 
    	40px 40px,

    	20px 16px,
    	30px 30px,
    	15px 36px,
    	15px 36px,
    	36px 15px,
    	44px 30px, 
    	60px 60px;
    background-position: 
		calc(50% - 8px) calc(50% - 0px), 
		calc(50% + 12px) calc(50% - 0px), 

		
    	calc(50% + 2px) calc(50% + 1px), 
    	calc(50% + 2px) calc(50% + 8px), 
    	calc(50% + 2px) calc(50% + 7px),

    	calc(50% + 12px) calc(50% + 17px), 
    	calc(50% - 12px) calc(50% + 11px), 
    	calc(50% + 22px) calc(50% + 1px), 
    	calc(50% - 20px) calc(50% + 0px), 
    	calc(50% - 1px) calc(50% + 22px), 
    	calc(50% - 0px) calc(50% + 2px), 
    	calc(50% - 0px) calc(50% + 0px);
}
#game div:nth-of-type(3) { /* Tronco */
	background-image: 
		linear-gradient(darksalmon, darksalmon);
	background-size: 
		30px 130px;
	background-position: 
		calc(50% + 85px) calc(50% - 2px);
}
#game.venceu div:nth-of-type(3) { /* Tronco [VENCEU] */
	background-position: 
		calc(50% + 85px) calc(50% + 50px);
}
#game div:nth-of-type(4) { /* Braço esquerdo */
	transform: rotate(20deg);
	background-image: 
		linear-gradient(darksalmon, darksalmon);
	background-size: 
		15px 80px;
	background-position: 
		calc(50% + 50px) calc(50% - 45px);
}
#game.venceu div:nth-of-type(4) { /* Braço esquerdo [VENCEU] */
	transform: rotate(130deg);
	background-position: 
		calc(50% - 45px) calc(50% - 20px);
}
#game div:nth-of-type(5) { /* Braço direito */
	transform: rotate(-20deg);
	background-image: 
		linear-gradient(darksalmon, darksalmon);
	background-size: 
		15px 80px;
	background-position: 
		calc(50% + 111px) calc(50% + 14px);
}
#game.venceu div:nth-of-type(5) { /* Braço direito [VENCEU] */
	transform: rotate(-130deg);
	background-position: 
		calc(50% - 65px) calc(50% + 110px);
}
#game div:nth-of-type(6) { /* Perna esquerda */
	transform: rotate(10deg);
	background-image: 
		linear-gradient(darksalmon, darksalmon);
	background-size: 
		15px 90px;
	background-position: 
		calc(50% + 85px) calc(50% + 80px);
}
#game.venceu div:nth-of-type(6) { /* Perna esquerda [VENCEU] */
	transform: rotate(20deg);
	background-position: 
		calc(50% + 110px) calc(50% + 120px);
}
#game div:nth-of-type(7) { /* Perna direita */
	transform: rotate(-10deg);
	background-image: 
		linear-gradient(darksalmon, darksalmon);
	background-size: 
		15px 90px;
	background-position: 
		calc(50% + 83px) calc(50% + 110px);
}
#game.venceu div:nth-of-type(7) { /* Perna direita [VENCEU] */
	transform: rotate(-20deg);
	background-position: 
		calc(50% + 50px) calc(50% + 180px);
}
#game div:nth-of-type(8) { /* Blusa (tronco) */
	background-image: 
		linear-gradient(#64B5F6, #64B5F6);
	background-size: 
		40px 100px;
	background-position: 
		calc(50% + 85px) calc(50% - 17px);
}
#game.venceu div:nth-of-type(8) { /* Blusa (tronco) [VENCEU] */
	background-size: 
		40px 110px;
	background-position: 
		calc(50% + 85px) calc(50% + 35px);
}
#game div:nth-of-type(8):before { /* Blusa (manga esquerda) */
	transform: rotate(20deg);
	background-image: 
		linear-gradient(#64B5F6, #64B5F6);
	background-size: 
		15px 20px;
	background-position: 
		calc(50% + 50px) calc(50% - 65px);
}
#game.venceu div:nth-of-type(8):before { /* Blusa (manga esquerda) [VENCEU] */
	transform: rotate(130deg);
	background-position: 
		calc(50% - 45px) calc(50% - 45px);
}
#game div:nth-of-type(8):after { /* Blusa (manga direita) */
	transform: rotate(-20deg);
	background-image: 
		linear-gradient(#64B5F6, #64B5F6);
	background-size: 
		15px 20px;
	background-position: 
		calc(50% + 111px) calc(50% - 8px);
}
#game.venceu div:nth-of-type(8):after { /* Blusa (manga direita) [VENCEU] */
	transform: rotate(-130deg);
	background-position: 
		calc(50% - 65px) calc(50% + 88px);
}
#game div:nth-of-type(9) { /* Calça (cintura) */
	background-image: 
		linear-gradient(darkblue, darkblue);
	background-size: 
		40px 30px;
	background-position: 
		calc(50% + 85px) calc(50% + 48px);
}
#game.venceu div:nth-of-type(9) { /* Calça (cintura) [VENCEU] */
	background-position: 
		calc(50% + 85px) calc(50% + 100px);
}
#game div:nth-of-type(9):before { /* Calça (perna esquerda) */
	transform: rotate(10deg);
	background-image: 
		linear-gradient(darkblue, darkblue);
	background-size: 
		15px 70px;
	background-position: 
		calc(50% + 85px) calc(50% + 80px);
}
#game.venceu div:nth-of-type(9):before { /* Calça (perna esquerda) [VENCEU] */
	transform: rotate(20deg);
	background-position: 
		calc(50% + 110px) calc(50% + 110px);
}
#game div:nth-of-type(9):after { /* Calça (perna direita) */
	transform: rotate(-10deg);
	background-image: 
		linear-gradient(darkblue, darkblue);
	background-size: 
		15px 70px;
	background-position: 
		calc(50% + 83px) calc(50% + 110px);
}
#game.venceu div:nth-of-type(9):after { /* Calça (perna direita) [VENCEU] */
	transform: rotate(-20deg);
	background-position: 
		calc(50% + 50px) calc(50% + 170px);
}
#game div:nth-of-type(10) { /* Sapato (esquerdo) */
	background-image: 
		radial-gradient(black 50%, transparent 51%);
	background-size: 
		40px 25px;
	background-position: 
		calc(50% + 58px) calc(50% + 133px);
}
#game.venceu div:nth-of-type(10) { /* Sapato (esquerdo) [VENCEU] */
	background-position: 
		calc(50% + 44px) calc(50% + 190px);
}
#game div:nth-of-type(11) { /* Sapato (direito) */
	background-image: 
		 radial-gradient(black 50%, transparent 51%);
	background-size: 
		40px 25px;
	background-position: 
		calc(50% + 112px) calc(50% + 133px);
}
#game.venceu div:nth-of-type(11) { /* Sapato (direito) [VENCEU] */
	background-position: 
		calc(50% + 128px) calc(50% + 190px);
}